:root{
    --black : #000000;
    --white : #ffffff;
    --grey : #bcbcbc;
    --blue : #0A1936;
    --fwregular : 400;
    --fwsemibold : 600;
    --fwbold : 700;   
}

body{
    background-color: var(--black);
}

.logo{
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: var(--fwregular);
    font-size: 20px;
    color: var(--white);
}

.logo:hover{
    color: var(--grey);
}

.navbar-toggler{
    background-color: var(--white);
}

.navbar-toggler:hover{
    background-color: var(--grey);
}

.navbar-expand-lg .navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-item .active{
    font-family: 'Oswald', sans-serif;
    font-weight: var(--fwregular);
    font-size: 18px;
    color: var(--white);
}

.navbar-nav .nav-item .active:hover{
    color: var(--grey);
}

.navbar-nav .nav-item a{
    font-family: 'Oswald', sans-serif;
    font-weight: var(--fwregular);
    font-size: 18px;
    color: var(--white);
}

.navbar-nav .nav-item a:hover{
    color: var(--grey);
}

.big-header{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: var(--fwregular);
    font-size: 234px;
    color: var(--white);
}

.medium-header{
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: var(--fwregular);
    font-size: 40px;
    color: var(--white);
}

.small-header-1{
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: var(--fwregular);
    font-size: 25px;
    color: var(--white);
}

.small-header-2{
    font-family: 'Poppins', sans-serif;
    font-weight: var(--fwbold);
    font-size: 20px;
    color: var(--black);
    text-decoration: none;
    text-align: center;
}

.small-header-3{
    font-family: 'Poppins', sans-serif;
    font-weight: var(--fwsemibold);
    font-size: 18px;
    color: var(--white);
    text-align: left;
}

.primary-copy-1{
    font-family: 'Poppins', sans-serif;
    font-weight: var(--fwregular);
    font-size: 18px;
    color: var(--white);
}

.primary-copy-2{
    font-family: 'Poppins', sans-serif;
    font-weight: var(--fwregular);
    font-size: 16px;
    line-height: 27px;
    color: var(--white);
}

.p1{
    margin: 0;
}

.mt-80{
    margin-top: 80px;
}

.mt-100{
    margin-top: 100px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-18{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-60{
    margin-bottom: 60px;
}

.img-fluid{
    border-radius: 30px;
}

.badge{
    width: 339px;
    height: 100px;
}

.border{
    height: 120px;
    width: 100%;
    border-radius: 30px;
    border: 0px !important;
}

.img-1{
    background-color: #802B11;
    background-image: url(../img/html.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.img-2{
    background-color: #104B79;
    background-image: url(../img/css.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.img-3{
    background-color: #47568C;
    background-image: url(../img/ux-design.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.img-4{
    background-color: #FFFFFF;
    background-image: url(../img/github.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.img-5{
    background-color: #E2E2E7;
    background-image: url(../img/responsive.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.img-6{
    background-color: #803528;
    background-image: url(../img/figma.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.img-7{
    background-color: #330000;
    background-image: url(../img/illustrator.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.img-8{
    background-color: #FFFFFF;
    background-image: url(../img/webfllow.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.img-9{
    background-color: #FFDF00;
    background-image: url(../img/js.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.img-10{
    background-color: #8F9ED1;
    background-image: url(../img/php.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.a-sertif{
    color: var(--white);
}

.a-sertif:hover{
    text-decoration: none;
    color: var(--grey);
}

.card-portofolio{
    text-decoration: none;
    color: var(--black);
}

.card-body{
    background-color: var(--grey);
}

.card-portofolio:hover .card {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 100px rgba(140, 140, 140, 0.2);
}

.card-portofolio:hover .card-img-top {
    filter: brightness(80%);
}

.card-portofolio:hover .card-text {
    color:var(--white);
}

.col-portfolio{
    text-align: -webkit-center;
}

.col-skill{
    text-align: -webkit-center;
}

@media only screen and (max-width: 768px) {
    body {
        padding: 10px;
        margin: 0 auto;
    }
    
    .container {
        width: 100%; 
        padding: 0 10px; 
    }

    .navbar-nav{
        padding: auto;
    }

    .big-header{
        font-size: 60px;
    }

    .medium-header{
        font-size: 28px;
    }

    .primary-copy-1{
        font-size: 15px;
        text-align: justify;
    }

    .primary-copy-2{
        font-size: 10px;
        text-align: justify;
    }

    img {
        margin-bottom: 30px;
        height: auto;
        width: 100%;
    }

    .border{
        height: 70px;
        width: 70px;
        border-radius: 20px;
        margin: auto;
    }

    .img-1{
        background-size: 50px;
    }

    .img-2{
        background-size: 50px;
    }

    .img-3{
        background-size: 50px;
    }

    .img-4{
        background-size: 50px;
    }

    .img-5{
        background-size: 50px;
    }

    .img-6{
        background-size: 50px;
    }

    .img-7{
        background-size: 50px;
    }

    .img-8{
        background-size: 50px;
    }

    .img-9{
        background-size: 50px;
    }

    .img-10{
        background-size: 50px;
    }

    .small-header-3{
        font-size: 15px;
    }

    .progress{
        width: 100px;
    }

    .col-7{
        column-width: auto;
        margin: auto;
    }

    .small-header-1{
        font-size: 13px;
    }

    .card {
        max-width: 200px; /* Atur lebar maksimum kartu */
        margin: 0 auto; /* Tengahkan kartu */
    }

    .badge{
        margin: 0 auto;
    }

    .small-header-2{
        font-size: 15px;
    }

    .hero, .aboutme, .skill, .sertifikat, .portofolio{
        margin-top: 50px;
    }
}

@media only screen and (max-width: 430px) {
    .big-header {
        font-size: 84px; 
    }
}


@media only screen and (max-width: 420px) {
    .big-header {
        font-size: 81px; 
    }
}

@media only screen and (max-width: 400px) {
    .big-header {
        font-size: 77px; 
    }
}

@media only screen and (max-width: 380px) {
    .big-header {
        font-size: 72px; 
    }
}

@media only screen and (max-width: 360px) {
    .big-header {
        font-size: 69px; 
    }
}

@media only screen and (max-width: 340px) {
    .big-header {
        font-size: 61px; 
    }
}
